<h1> Hi, I'm ACE </h1>
<%= reply %>

<form id="theForm">
    <p>Talk to ACE here:</p>
    <input id="message" type="text" name="message">	
</form>

<button type="submit" name="sendButton" onclick="magic()">SEND</button>

<script>
function magic() {
    var resultElement = document.getElementById('theForm');
    theForm.submit()
}
</script>